body {
    background-color: #f0f0f0;
}

#camera_image {
    width: 320px;
}

fieldset.collapsed> :not(legend) {
    display: none;
}

fieldset.collapsed {
  border: none;
  padding: 0;
  margin: 0;
}