body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans JP", "Hiragino Sans", Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

#cabot_name {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

#settings-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  gap: 5px;
}

.full-width {
  grid-column: 1 / -1;
}

.break {
  grid-column: 1 / -1;
  height: 0;
}

.camera_image {
  width: 256px;
}

.center_image {
  margin: 0px 4px
}

#custom_image {
  width: 776px;
}

.rosmap-buttons {
  width: 608px;
  text-align: center;
}

fieldset.collapsed> :not(legend) {
  display: none;
}

fieldset.collapsed {
  border: none;
  padding: 0;
  margin: 0;
}

#speak_histories div {
  margin: 10px 0px;
  padding: 4px 10px;
  border: 1px solid #ddd;
  border-radius: 12px;
  width: fit-content;
  white-space: pre-wrap;
  line-height: 1.4;
  background: #eef;
}

.chat-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: auto;
}

.bubble {
  max-width: 75%;
  padding: 4px 10px;
  border-radius: 12px;
  white-space: pre-wrap;
  line-height: 1.4;
}

.agent {
  align-self: flex-start;
  background: #eef;
  border: 1px solid #ddd;
}

.user {
  align-self: flex-end;
  background: #00f;
  color: #fff;
  border-radius: 12px 12px 0 12px;
}

dialog menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

div.separator {
  margin-bottom: 6px;
}

